
/*====================================================================================================================*/
/* 10_02 스타일 사용 */

section { width: 100px; height: 100px; border: 5px solid black; margin: 150px; }
div { width: 100px; height: 100px; background: red; }


/*====================================================================================================================*/
/* 10_03 transform 속성 사용 */

div { transform : rotate(60deg); }  /*각도만큼 회전하는 회전함수*/

/* <2차원 변환 함수>
   translate(translateX, translateY)  ==> 특정 크기만큼 이동
   translateX(translateX)  ==> X축으로 특정 크기만큼 이동
   translateY(translateY)  ==> Y축으로 특정 크기만큼 이동
   
   scale(scaleX, scaleY)  ==> 특정 크기만큼 확대 및 축소함
   scaleX(scaleX)  ==> X축으로 특정 크기만큼 확대 및 축소
   scaleY(scaleY)  ==> Y축으로 특정 크기만큼 확대 및 축소
   
   skew(angleX, angleY)  ==> 특정 각도만큼 기울임
   skewX(angleX)  ==> X축으로 특정 각도만큼 기울임
   skewY(angleY)  ==> Y축으로 특정 각도만큼 기울임
   
   rotate(angleZ)  ==> 특정 각도만큼 회전시킴 (시계방향)        */


/*====================================================================================================================*/
/* 10_04 변환 함수 사용 */

/* 그냥 transform속성에 각각의 함수를 공백으로 구분해서 입력하면 됨. */
div { transform: rotate(60deg) scale(1.2) skewY(10deg); }
/* 60도 회전하고, 크기가 1.2배가 되고, Y축 방향으로 10도가 기울어진 사각형. */


/*====================================================================================================================*/
/* 10_05 변환 함수의 순서 */

div { transform: translateX(50px) rotate(60deg); }  /*x축으로 50px만큼 이동하고, 60도 회전*/
div { transform: rotate(60deg) translateX(50px); }  /*60도를 회전된 상태에서(xy축방향 변함), 변한 x축 방향으로 50픽셀 이동한 형태*/
/* 변환함수를 입력하는 순서에 따라 실행 결과가 달라질수 있다. 꼭 주의!!!
   회전을 하게되면, 그 각도에따라, 대상의 x축과 y축의 방향이 변하기때문에 발생하는 현상이다!  */


/*====================================================================================================================*/
/* 10_07 transform-origin 속성
         ==> 변환대상의 변환중심을 변경할 때 사용
             center (디폴트)
             top, bottom, left, right 등을 사용할 수 있다.
             2개의 크기 단위를 적용할 수 있다. (x좌표, y좌표)  */             
div { transform: none; }  /*초기화*/

div { transform: rotate(60deg); }
div { transform-origin: 100% 100%; }    /*크기단위 적용*/
div { transform-origin: right bottom; } /*키워드 적용*/
/* x축 100%, y축 100% 를 입력했으니, 오른쪽 아래가 변환 중심이 됨.
   right, bottom 또한 완전히 동일한 결과를 출력함. */









